@using Ficha10.Models
@using Ficha7Saturday
@model IEmployees

@{
    ViewData["Title"] = "Home Page";
}

<input class="form-control" type="text" placeholder="Search" aria-label="Search">
<table class="table">
  <thead>
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">JobTitle</th>
      <th scope="col">Name</th>
      <th scope="col">EmailAddress</th>
      <th scope="col">PhoneNumber</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model.EmployeesList)
    {
        <tr>
            <td>@Html.DisplayFor(e => employee.UserId)</td>
            <td>@Html.DisplayFor(e => employee.JobTitle) </td> 
            <td>@Html.DisplayFor(e => employee.FirstName) @Html.DisplayFor(e => employee.LastName)</td>
            <td>@Html.DisplayFor(e => employee.EmailAddress)</td>
            <td>@Html.DisplayFor(e => employee.PhoneNumber)</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
       </tr>
       
    }
  </tbody>
</table>

<button type="button" class="btn btn-dark">Add</button>
